<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video" >

    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".TextureViewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
